/* Stylesheet for Twitch TV App */

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* Margin bottom by footer height */
  margin-top: 10px;
  margin-bottom: 35px;
  font-family: "Lora", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  color: #DADADA;
  background-color: transparent;
  clear: both;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.twitch {
  font-family: Arimo;
  font-size: 40px;
  padding: 5px 0px 5px 35px;
  border: 1px 1px 0px 1px;
  border-radius: 15px 15px 0 0;
  color: #111111;
  background-color: #88394B;
  background-image:
    linear-gradient(
      #010101, #88394b 5px, #88394b 63px, #010101
    );
}
.twitch-bottom{
  background-color: #88394B;
    background-image:
    linear-gradient(
      #010101, #88394B 3px , #88394B 7px, #010101
    );
  height: 10px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}

.offline {
  background-color: #9E9E9E;
  background-image: 
  linear-gradient(
      #fafafc, #9E9E9E 2px
    );
  color: #111111;
}

.online {
  background-color: #15607B;
  background-image: 
    linear-gradient(
        #fafafc, #15607B 2px
      );
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #123456;
	color: #aaaaaa;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	height: 35px;
	text-align: center;
	clear: both;
}

footer a{
  color: #fafafc;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
}

footer a:hover{
  background-color: #113456;
  color: #000000;
  padding: 2px 10px 2px 10px;
  text-decoration: inherit;
}

.ico{
    height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    display: inline;
}

 /* Style for displaying the results
  */
.table { 
  display:table; 
  border-collapse: separate; 
  margin:5px auto; 
}
.channel { 
  display:table-row;
} 

.channel>div { 
  display:table-cell;
  background-clip: padding-box;
  padding: 0.3em 1em;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
} 

.logo { width:50px; text-align:center; }
.name { white-space:nowrap; width: 100px; max-width: 100px; }
.status { text-align:center; }