/* Stylesheet for Twitch TV App */

/* Opera Fix for the sticky footer */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

html,
body {
	height: 100%;
}

#wrap{
	min-height: 100%
}

#main{
	overflow: auto;
	margin-bottom: -30px;
}

#footer{
	background-color: #123456;
	color: #aaaaaa;
	margin: 0 auto;
	margin-top: -30px; /* negative value of footer height if at the bottom */
	padding: 5px 20px 5px 20px;
	height: 30px;
	text-align: center;
	clear:both;
}

#footer a{
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
}

#footer a:hover{
  background-color: #113456;
  color: #000000;
  padding: 2px 10px 2px 10px;
  text-decoration: inherit;
}