/* Stylesheet for Twitch TV App */

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* Margin bottom by footer height */
  margin-top: 10px;
  margin-bottom: 35px;
  font-family: "Lora", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  color: #DADADA;
  background-color: transparent;
  clear: both;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.twitch {
  font-family: Arimo;
  font-size: 40px;
  padding: 5px 0px 5px 35px;
  border: 1px 1px 0px 1px;
  color: #111111;
  background-color: #88394B;
}
.twitch-bottom{
  background-color: #88394B;
  height: 10px;
  margin:-20px 0px 20px 0px;
}

.offline {
  background-color: #9E9E9E;
  color: #111111;
}

.online {
  background-color: #15607B;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #123456;
	color: #aaaaaa;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	height: 35px;
	text-align: center;
	clear:both;
}

footer a{
  color: #fafafc;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
}

footer a:hover{
  background-color: #113456;
  color: #000000;
  padding: 2px 10px 2px 10px;
  text-decoration: inherit;
}

.ico{
    height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    display: inline;
}

tr{
  padding: 5px !important;
}

.border {
	border: 2px solid #aaaaaa;
}

td{
    vertical-align: middle !important;
    text-align: left;
    border: 2px solid #aaaaaa;
    height: 30px;
}
td.center{
	text-align: center;
}

/* remove standard table borders*/
.table {
    border-bottom: 0px !important;
    border-collapse:separate;
    border-spacing:0 5px;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}